.popup__page {
    width: 100%;
    max-width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100001;
    background-color: rgba(86,88,105,0.7);

    display: flex;
    justify-content: center;
    align-items: center;

    overflow-y: scroll;
}

.popup__page::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.popup__box {
    width: 600px;
    max-width: 96%;

    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: #232323;
    border-radius: 8px;
    box-shadow: 0 0 4px #232323a0;
    padding: 0.4rem 0;
}

.box__head {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.8rem;
    padding: 0.7rem 1rem;
    border-bottom: 1px solid gray;
}

.box__head h3 {
    font-size: 19px;
    color: #ddd;
    text-align: left;
}

.box__head button {
    outline: none;
    border: none;
    background-color: transparent;
    color: #ddd;
    font-size: 24px;
}

.plan__space {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.basic__plan, .pro__plan {
    width: 50%;
    padding: 0.6rem 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.2rem;
}

.pro__plan {
    border-left: 0.4px solid gray;
}

.basic__plan h2, .pro__plan h2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    color: #fff;
    font-size: 20px;
}

.pro__plan h2 span {
    color: gray;
    font-size: 17px;
}

.basic__plan button, .pro__plan button {
    width: 100%;
    padding: 1rem;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 600;
}

.basic__plan button {
    cursor: not-allowed;
    background-color: rgba(93, 95, 112, 0.956);
    color: rgb(157, 157, 157);
}

.pro__plan button {
    background-color: rgba(16,163,127,1);
    color: #232323;
    cursor: pointer;
}

.basic__plan ul, .pro__plan ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.8rem;
    padding: 1.2rem 1rem;
}

.basic__plan ul li, .pro__plan ul li {
    text-align: left;
    width: 100%;
    color: #ddd;
    font-size: 16px;
    padding-left: 6px;
}

.basic__plan li::marker {
    content: '✔️';
}

.pro__plan li::marker {
    content: '👉';
}

/* ************************************************************* */

/* Media Queries */

@media all and (max-width : 630px) {

    .basic__plan, .pro__plan {
        padding: 0.6rem 0.8rem;
    }

}

@media all and (max-width : 580px) {

    .popup__page {
        padding: 1.2rem 0.2rem;
    }

    .plan__space {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .basic__plan, .pro__plan {
        width: 100%;
    }

    .basic__plan {
        order: 2;
    }
    
    .pro__plan {
        border-left: none;
        border-bottom: 0.4px solid gray;
        order: 1;
    }

}