.small__navbar {
    display: none;
}

@media all and (max-width : 800px) {

    .small__navbar {
        width: 100%;
        max-width: 100%;
        height: 56px;
        padding: 0 1rem;

        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        border-bottom: 1px solid gray;
    }

    .small__navbar button {
        border: none;
        outline: none;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        color: #ddd;
    }

    .small__navbar p {
        font-size: 18px;
        color: #ddd;
        font-weight: 600;
    }

    .small__navbar a {
        font-size: 24px;
        color: #ddd;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@media all and (max-width : 450px) {

    .small__navbar {
        height: 48px;
    }

    .small__navbar button, .small__navbar a {
        font-size: 22px;
    }

    .small__navbar p {
        font-size: 18px;
        font-weight: 500;
    }

}