* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --c-w : #FFFFFF;
    --c-b : #000000;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    max-width: 100vw;
    color: var(--c-b);
    overflow-x: hidden;
    background-color: var(--c-w);
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

li {
    list-style-type: none;
}

/* ******************************************************************* */

.app {
    width: 100%;
    max-width: 100%;
    height: 100%;
    background-color: #fff;

    display: flex;
    flex-direction: row;
    align-items: flex-start;

    position: relative;
}